.skills_section{
	margin: auto;
	width: 90%;
	padding: 15px 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.skills_main{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 30px;
	grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:  0 10px;
}

.skill_bar .info p{
	font-weight: bold;
}
.skill_bar .bar{
	width: 100%;
	height: 10px;
	background-color: rgba(0, 0, 0, 0.144);
	border-radius: 25px;
	margin-top: 5px;
	position: relative;
}
.skill_bar .bar span{
	width: 50%;
	height: 100%;
	position: absolute;
	background-color: #ff014f;
	border-radius: 25px;
}

.skill_bar:hover{
	background-color: #f0bccb;
}

.skill_bar .bar .html{
	width: 85%;
	animation: html 2s;
}
@keyframes html {
	0%{
			width: 0%;
	}100%{
			width: 85%;
	}
}
.skill_bar .bar .css{
	width: 80%;
	animation: css 2s;
}
@keyframes css {
	0%{
			width: 0%;
	}100%{
			width: 80%;
	}
}
.skill_bar .bar .tailwindCss{
	width: 75%;
	animation: tailwindCss 2s;
}
@keyframes tailwindCss {
	0%{
			width: 0%;
	}100%{
			width: 75%;
	}
}

.skill_bar .bar .bootstrap{
	width: 85%;
	animation: bootstrap 2s;
}
@keyframes bootstrap {
	0%{
			width: 0%;
	}100%{
			width: 85%;
	}
}

.skill_bar .bar .material{
	width: 70%;
	animation: material 2s;
}
@keyframes material {
	0%{
			width: 0%;
	}100%{
			width: 70%;
	}
}

.skill_bar .bar .javaScript{
	width: 70%;
	animation: javaScript 2s;
}
@keyframes javaScript {
	0%{
			width: 0%;
	}100%{
			width: 70%;
	}
}

.skill_bar .bar .react{
	width: 80%;
	animation: react 2s;
}
@keyframes react {
	0%{
			width: 0%;
	}100%{
			width: 80%;
	}
}

.skill_bar .bar .typeScript{
	width: 65%;
	animation: typeScript 2s;
}
@keyframes typeScript {
	0%{
			width: 0%;
	}100%{
			width: 65%;
	}
}

.skill_bar .bar .redux{
	width: 95%;
	animation: redux 2s;
}
@keyframes redux {
	0%{
			width: 0%;
	}100%{
			width: 95%;
	}
}

.skill_bar .bar .next{
	width: 70%;
	animation: next 2s;
}
@keyframes next {
	0%{
			width: 0%;
	}100%{
			width: 70%;
	}
}

.skill_bar .bar .node{
	width: 70%;
	animation: node 2s;
}
@keyframes node {
	0%{
			width: 0%;
	}100%{
			width: 70%;
	}
}
.skill_bar .bar .firebase{
	width: 70%;
	animation: firebase 2s;
}
@keyframes firebase {
	0%{
			width: 0%;
	}100%{
			width: 70%;
	}
}

.skill_bar .bar .express{
	width: 60%;
	animation: express 2s;
}
@keyframes express {
	0%{
			width: 0%;
	}100%{
			width: 60%;
	}
}
.skill_bar .bar .mongo{
	width: 65%;
	animation: mongo 2s;
}
@keyframes mongo {
	0%{
			width: 0%;
	}100%{
			width: 65%;
	}
}

@media (max-width: 472px) {
  .skills_main{
		grid-template-columns: repeat(1, 1fr);
	}
	.skills_section{
		width: 100%;
	}
}

